@model WebApp.Models.DiscordUserModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Hello @Model.Name</h1>
</div>


<div class="col-sm-12">
	<p> What is there still to do? </p>
	<ul>
		 <li>
			Better Tables
		</li>
		<li>
			Multi Language
		</li>
		<li>
			Options for removing/adding rows on tables.
		</li>

	</ul>
</div>
